
.instruments {
    position: fixed;
    width: 300px;
    height: 500px;
    background: white;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    left: 0;
    top: calc(50% - 250px);
    padding: 10px;
}

.text_setting {
    text-align: center;
}

.button_setting {
    width: 100px;
    height: 30px;
    border: 1px solid teal;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button_setting_active {
    width: 100px;
    height: 30px;
    border: 1px solid teal;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: teal;
    color: white;
}

.thickness {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons_thickness {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto;
    margin-top: 10px;
}

.button_bold {
    font-weight: bold;
}

.location {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons_location {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto;
    margin-top: 10px;
}

.indent {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons_indent {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
}

.button_small_indent{
    width: 80px;
}

.button_normal_indent{
    width: 80px;
}

.button_big_indent{
    width: 80px;
}



.button_italics{
    margin: 0 auto;
    font-style: italic;
}



.font_size{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fontsizeText{
    margin-right: 10px;
    line-height: 38px;
}

.selectBlock{
    width: 100px;
}